<!--FOOTER-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>UCB Rider</h3>
        <p>UCB Rider is a mobile application that allows you to request a ride from the UCB campus to your home or any other location in the city of Berkeley.</p>
      </div>
      <div class="col-md-4">
        <h3>UCB Rider</h3>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>UCB Rider</h3>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>